* {
    box-sizing: border-box;
  }
h2,h1,h4{
    text-align: center;
  }

.container,
.container2{    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    
  } 
  .container input[type=text],
  .container input[type=password],
  .container input[type=date],
  .container input[type=submit],
  .container input[type=button],
  .container input[type=email],
  .container select,
  .buttom {
    width: 100%;
    padding: 12px;
    
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.7;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
  }
  #signup{
    padding-top: 200px;
  }
  
  input:hover,
  input:focus,
  .buttom:hover {
    opacity: 1;

  }

  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  input[type=submit],input[type=button] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover,input[type=button]:hover {
    background-color: #45a049;
  }
  

  .col {
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  .row{
    display: flex;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .ligne1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  .ligne2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 500px;
  }
  
  .text {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  

  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
  }
  
  
          /*password*/
          .msg {
            display: none;
            color: red;
          }
